# Data analysis of the fantasy premier league

### Goal of Analysis: Use data science to get the best possible team for the next gameweek as well as suggest the best possible transfers according to the available resources.

In [26]:
import json
import numpy as np
import pandas as pd
import requests

In [27]:
with open('D:/programming/my_projects/fpl_ai_api_django/fpl_data.json','r',encoding='utf-8') as file:
    data=json.load(file)
    teams_df=pd.DataFrame(data['teams'])
    elements_df=pd.DataFrame(data['elements'])
    element_types_df=pd.DataFrame(data['element_types'])

In [28]:
teams_df.head()

,code,draw,form,id,loss,name,played,points,position,short_name,...,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,None,1,0,Arsenal,0,0,0,ARS,...,None,False,0,1220,1270,1240,1250,1200,1270,1
1,7,0,None,2,0,Aston Villa,0,0,0,AVL,...,None,False,0,1090,1100,1110,1130,1090,1110,2
2,91,0,None,3,0,Bournemouth,0,0,0,BOU,...,None,False,0,1060,1090,1070,1130,1050,1080,127
3,94,0,None,4,0,Brentford,0,0,0,BRE,...,None,False,0,1100,1130,1100,1110,1130,1160,130
4,36,0,None,5,0,Brighton,0,0,0,BHA,...,None,False,0,1150,1160,1140,1160,1170,1190,131

In [29]:
elements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 88 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   chance_of_playing_next_round          503 non-null    float64
 1   chance_of_playing_this_round          501 non-null    float64
 2   code                                  740 non-null    int64
 3   cost_change_event                     740 non-null    int64
 4   cost_change_event_fall                740 non-null    int64
 5   cost_change_start                     740 non-null    int64
 6   cost_change_start_fall                740 non-null    int64
 7   dreamteam_count                       740 non-null    int64
 8   element_type                          740 non-null    int64
 9   ep_next                               740 non-null    object
 10  ep_this                               740 non-null    object
 11  event_points                          740 non-null    int64
 12  first_name                            740 non-null    object
 13  form                                  740 non-null    object
 14  id                                    740 non-null    int64
 15  in_dreamteam                          740 non-null    bool
 16  news                                  740 non-null    object
 17  news_added                            503 non-null    object
 18  now_cost                              740 non-null    int64
 19  photo                                 740 non-null    object
 20  points_per_game                       740 non-null    object
 21  second_name                           740 non-null    object
 22  selected_by_percent                   740 non-null    object
 23  special                               740 non-null    bool
 24  squad_number                          0 non-null      object
 25  status                                740 non-null    object
 26  team                                  740 non-null    int64
 27  team_code                             740 non-null    int64
 28  total_points                          740 non-null    int64
 29  transfers_in                          740 non-null    int64
 30  transfers_in_event                    740 non-null    int64
 31  transfers_out                         740 non-null    int64
 32  transfers_out_event                   740 non-null    int64
 33  value_form                            740 non-null    object
 34  value_season                          740 non-null    object
 35  web_name                              740 non-null    object
 36  minutes                               740 non-null    int64
 37  goals_scored                          740 non-null    int64
 38  assists                               740 non-null    int64
 39  clean_sheets                          740 non-null    int64
 40  goals_conceded                        740 non-null    int64
 41  own_goals                             740 non-null    int64
 42  penalties_saved                       740 non-null    int64
 43  penalties_missed                      740 non-null    int64
 44  yellow_cards                          740 non-null    int64
 45  red_cards                             740 non-null    int64
 46  saves                                 740 non-null    int64
 47  bonus                                 740 non-null    int64
 48  bps                                   740 non-null    int64
 49  influence                             740 non-null    object
 50  creativity                            740 non-null    object
 51  threat                                740 non-null    object
 52  ict_index                             740 non-null    object
 53  starts                                740 non-null    int64
 54  expected_goals                        740 non-null    object
 55  expected_assists                      740 non-null    object
 56  expected_goal_involvements            740 non-null    object
 57  expected_goals_conceded               740 non-null    object
 58  influence_rank                        740 non-null    int64
 59  influence_rank_type                   740 non-null    int64
 60  creativity_rank                       740 non-null    int64
 61  creativity_rank_type                  740 non-null    int64
 62  threat_rank                           740 non-null    int64
 63  threat_rank_type                      740 non-null    int64
 64  ict_index_rank                        740 non-null    int64
 65  ict_index_rank_type                   740 non-null    int64
 66  corners_and_indirect_freekicks_order  85 non-null     float64
 67  corners_and_indirect_freekicks_text   740 non-null    object
 68  direct_freekicks_order                62 non-null     float64
 69  direct_freekicks_text                 740 non-null    object
 70  penalties_order                       55 non-null     float64
 71  penalties_text                        740 non-null    object
 72  expected_goals_per_90                 740 non-null    float64
 73  saves_per_90                          740 non-null    float64
 74  expected_assists_per_90               740 non-null    float64
 75  expected_goal_involvements_per_90     740 non-null    float64
 76  expected_goals_conceded_per_90        740 non-null    float64
 77  goals_conceded_per_90                 740 non-null    float64
 78  now_cost_rank                         740 non-null    int64
 79  now_cost_rank_type                    740 non-null    int64
 80  form_rank                             740 non-null    int64
 81  form_rank_type                        740 non-null    int64
 82  points_per_game_rank                  740 non-null    int64
 83  points_per_game_rank_type             740 non-null    int64
 84  selected_rank                         740 non-null    int64
 85  selected_rank_type                    740 non-null    int64
 86  starts_per_90                         740 non-null    float64
 87  clean_sheets_per_90                   740 non-null    float64
dtypes: bool(2), float64(13), int64(47), object(26)
memory usage: 498.8+ KB

In [30]:
slim_elements_df=elements_df[['second_name','element_type','team','total_points','minutes','selected_by_percent','transfers_in','value_season']]

In [31]:
slim_elements_df

,second_name,element_type,team,total_points,minutes,selected_by_percent,transfers_in,value_season
0,Xhaka,3,1,81,1706,2.8,812298,16.5
1,Elneny,3,1,6,111,0.7,196232,1.5
2,Holding,2,1,6,16,0.1,6884,1.4
3,Partey,3,1,54,1450,0.5,96965,11.5
4,Ã˜degaard,3,1,119,1598,35.0,4646275,17.0
...,...,...,...,...,...,...,...,...
735,Santos Carneiro Da Cunha,4,20,5,191,0.1,16769,0.9
736,Lemina,3,20,5,165,0.0,272,1.1
737,Sarabia,3,20,2,104,0.0,2627,0.4
738,Bentley,1,20,0,0,0.0,407,0.0
739,Gomes da Silva,3,20,0,0,0.0,244,0.0

In [32]:
element_types_df

,id,plural_name,plural_name_short,singular_name,singular_name_short,squad_select,squad_min_play,squad_max_play,ui_shirt_specific,sub_positions_locked,element_count
0,1,Goalkeepers,GKP,Goalkeeper,GKP,2,1,1,True,[12],77
1,2,Defenders,DEF,Defender,DEF,5,3,5,False,[],250
2,3,Midfielders,MID,Midfielder,MID,5,2,5,False,[],321
3,4,Forwards,FWD,Forward,FWD,3,1,3,False,[],92

In [33]:
elements_df['position'] = elements_df.element_type.map(element_types_df.set_index('id').singular_name)

In [34]:
elements_df['value'] = elements_df.value_season.astype(float)

In [35]:
elements_df['team'] = elements_df.team.map(teams_df.set_index('id').name)

In [36]:
elements_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 90 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   chance_of_playing_next_round          503 non-null    float64
 1   chance_of_playing_this_round          501 non-null    float64
 2   code                                  740 non-null    int64
 3   cost_change_event                     740 non-null    int64
 4   cost_change_event_fall                740 non-null    int64
 5   cost_change_start                     740 non-null    int64
 6   cost_change_start_fall                740 non-null    int64
 7   dreamteam_count                       740 non-null    int64
 8   element_type                          740 non-null    int64
 9   ep_next                               740 non-null    object
 10  ep_this                               740 non-null    object
 11  event_points                          740 non-null    int64
 12  first_name                            740 non-null    object
 13  form                                  740 non-null    object
 14  id                                    740 non-null    int64
 15  in_dreamteam                          740 non-null    bool
 16  news                                  740 non-null    object
 17  news_added                            503 non-null    object
 18  now_cost                              740 non-null    int64
 19  photo                                 740 non-null    object
 20  points_per_game                       740 non-null    object
 21  second_name                           740 non-null    object
 22  selected_by_percent                   740 non-null    object
 23  special                               740 non-null    bool
 24  squad_number                          0 non-null      object
 25  status                                740 non-null    object
 26  team                                  740 non-null    object
 27  team_code                             740 non-null    int64
 28  total_points                          740 non-null    int64
 29  transfers_in                          740 non-null    int64
 30  transfers_in_event                    740 non-null    int64
 31  transfers_out                         740 non-null    int64
 32  transfers_out_event                   740 non-null    int64
 33  value_form                            740 non-null    object
 34  value_season                          740 non-null    object
 35  web_name                              740 non-null    object
 36  minutes                               740 non-null    int64
 37  goals_scored                          740 non-null    int64
 38  assists                               740 non-null    int64
 39  clean_sheets                          740 non-null    int64
 40  goals_conceded                        740 non-null    int64
 41  own_goals                             740 non-null    int64
 42  penalties_saved                       740 non-null    int64
 43  penalties_missed                      740 non-null    int64
 44  yellow_cards                          740 non-null    int64
 45  red_cards                             740 non-null    int64
 46  saves                                 740 non-null    int64
 47  bonus                                 740 non-null    int64
 48  bps                                   740 non-null    int64
 49  influence                             740 non-null    object
 50  creativity                            740 non-null    object
 51  threat                                740 non-null    object
 52  ict_index                             740 non-null    object
 53  starts                                740 non-null    int64
 54  expected_goals                        740 non-null    object
 55  expected_assists                      740 non-null    object
 56  expected_goal_involvements            740 non-null    object
 57  expected_goals_conceded               740 non-null    object
 58  influence_rank                        740 non-null    int64
 59  influence_rank_type                   740 non-null    int64
 60  creativity_rank                       740 non-null    int64
 61  creativity_rank_type                  740 non-null    int64
 62  threat_rank                           740 non-null    int64
 63  threat_rank_type                      740 non-null    int64
 64  ict_index_rank                        740 non-null    int64
 65  ict_index_rank_type                   740 non-null    int64
 66  corners_and_indirect_freekicks_order  85 non-null     float64
 67  corners_and_indirect_freekicks_text   740 non-null    object
 68  direct_freekicks_order                62 non-null     float64
 69  direct_freekicks_text                 740 non-null    object
 70  penalties_order                       55 non-null     float64
 71  penalties_text                        740 non-null    object
 72  expected_goals_per_90                 740 non-null    float64
 73  saves_per_90                          740 non-null    float64
 74  expected_assists_per_90               740 non-null    float64
 75  expected_goal_involvements_per_90     740 non-null    float64
 76  expected_goals_conceded_per_90        740 non-null    float64
 77  goals_conceded_per_90                 740 non-null    float64
 78  now_cost_rank                         740 non-null    int64
 79  now_cost_rank_type                    740 non-null    int64
 80  form_rank                             740 non-null    int64
 81  form_rank_type                        740 non-null    int64
 82  points_per_game_rank                  740 non-null    int64
 83  points_per_game_rank_type             740 non-null    int64
 84  selected_rank                         740 non-null    int64
 85  selected_rank_type                    740 non-null    int64
 86  starts_per_90                         740 non-null    float64
 87  clean_sheets_per_90                   740 non-null    float64
 88  position                              740 non-null    object
 89  value                                 740 non-null    float64
dtypes: bool(2), float64(14), int64(46), object(28)
memory usage: 510.3+ KB

In [37]:
slim_elements_df=elements_df[['second_name','position','team','total_points','minutes','selected_by_percent','transfers_in','value_season','value']]

In [38]:
slim_elements_df

,second_name,position,team,total_points,minutes,selected_by_percent,transfers_in,value_season,value
0,Xhaka,Midfielder,Arsenal,81,1706,2.8,812298,16.5,16.5
1,Elneny,Midfielder,Arsenal,6,111,0.7,196232,1.5,1.5
2,Holding,Defender,Arsenal,6,16,0.1,6884,1.4,1.4
3,Partey,Midfielder,Arsenal,54,1450,0.5,96965,11.5,11.5
4,Ã˜degaard,Midfielder,Arsenal,119,1598,35.0,4646275,17.0,17.0
...,...,...,...,...,...,...,...,...,...
735,Santos Carneiro Da Cunha,Forward,Wolves,5,191,0.1,16769,0.9,0.9
736,Lemina,Midfielder,Wolves,5,165,0.0,272,1.1,1.1
737,Sarabia,Midfielder,Wolves,2,104,0.0,2627,0.4,0.4
738,Bentley,Goalkeeper,Wolves,0,0,0.0,407,0.0,0.0
739,Gomes da Silva,Midfielder,Wolves,0,0,0.0,244,0.0,0.0

In [39]:
slim_elements_df.sort_values('value',ascending=False).head(10)

,second_name,position,team,total_points,minutes,selected_by_percent,transfers_in,value_season,value
525,Trippier,Defender,Newcastle,143,1864,69.6,6481031,23.4,23.4
115,Raya Martin,Goalkeeper,Brentford,98,1890,9.1,1312839,20.9,20.9
537,AlmirÃ³n Rejala,Midfielder,Newcastle,114,1736,34.3,5513952,20.0,20.0
526,Burn,Defender,Newcastle,89,1764,4.2,580384,19.3,19.3
545,Botman,Defender,Newcastle,87,1597,6.3,893811,19.3,19.3
138,Mee,Defender,Brentford,92,1748,11.5,1842154,19.2,19.2
544,Pope,Goalkeeper,Newcastle,105,1890,25.5,3555599,19.1,19.1
534,SchÃ¤r,Defender,Newcastle,99,1784,17.2,2926916,19.0,19.0
7,White,Defender,Arsenal,86,1593,13.8,2007524,18.3,18.3
326,Hoelgebaum Pereira,Midfielder,Fulham,80,1818,18.9,2823398,18.2,18.2

In [40]:
slim_elements_df.pivot_table(index='position',values='value',aggfunc=np.mean).reset_index()

     position     value
0    Defender  4.763200
1     Forward  3.769565
2  Goalkeeper  4.350649
3  Midfielder  4.444860

In [41]:
pivot=slim_elements_df.pivot_table(index='position',values='value',aggfunc=np.mean).reset_index()
pivot.sort_values('value',ascending=False)

     position     value
0    Defender  4.763200
3  Midfielder  4.444860
2  Goalkeeper  4.350649
1     Forward  3.769565

In [42]:
slim_elements_df = slim_elements_df.loc[slim_elements_df.value > 0]

In [43]:
pivot = slim_elements_df.pivot_table(index='position',values='value',aggfunc=np.mean).reset_index()

In [44]:
pivot.sort_values('value',ascending=False)

     position      value
2  Goalkeeper  11.551724
0    Defender   6.730508
3  Midfielder   5.945000
1     Forward   5.180597

In [45]:
team_pivot = slim_elements_df.pivot_table(index='team',values='value',aggfunc=np.mean).reset_index()

In [46]:
team_pivot.sort_values('value',ascending=False)

              team     value
14       Newcastle  9.556522
0          Arsenal  9.343478
3        Brentford  7.852000
12        Man City  7.714286
4         Brighton  7.426087
13         Man Utd  7.220833
6   Crystal Palace  6.981818
10       Leicester  6.850000
17           Spurs  6.720000
1      Aston Villa  6.678261
8           Fulham  6.582143
18        West Ham  6.325000
7          Everton  5.642308
19          Wolves  5.628571
9            Leeds  5.485185
15   Nott'm Forest  5.431250
2      Bournemouth  5.082759
11       Liverpool  5.081481
5          Chelsea  4.950000
16     Southampton  4.417241

In [47]:
fwd_df = slim_elements_df.loc[slim_elements_df.position == 'Forward']
mid_df = slim_elements_df.loc[slim_elements_df.position == 'Midfielder']
def_df = slim_elements_df.loc[slim_elements_df.position == 'Defender']
goal_df = slim_elements_df.loc[slim_elements_df.position == 'Goalkeeper']

In [48]:
goal_df.value.hist()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.